<!doctype html>
<html lang="en">
  <head>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://use.fontawesome.com/89c4522119.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">	
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		
    <link rel="stylesheet" href="custom.css">
  </head>
  <body>
	<div class="container" id="apprun">
		<div class="row mt-5">
			<div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 comments-main col-12 pt-4 rounded">
			<!-- <div class="col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-12 comments-main pt-4 rounded"> -->
					<!-- <div id="show-list">
							<li v-for="(item, index) in list_commus">
								{{ item.text }}
							</li>
					</div> -->
					<div class="list-content">
					<ul class="py-0 px-1" v-for="message in messages">
						<li >
								<div class="row comments mb-2">
									<div class="col-md-2 col-sm-2 col-3 text-center user-img">
										<img id="profile-photo" :src="message.avatar" class="rounded-circle" />
									</div>
									<div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
										<h4 class="m-0"><a href="#">{{message.name}}</a></h4>
										<time class="text-white ml-3">1 hours ago</time>
										<p class="mb-0 text-white">{{message.content}}</p>
									</div>
								</div>
							</li>
						<li  class="p-0" if="message.answer" v-for="item in message.answer">
								<div class="row comments mb-2">
									<div class="col-md-9 col-sm-9 col-9 comment rounded mb-2">
										<h4 class="m-0"><a href="#">{{item.name}}</a></h4>
										<time class="text-white ml-3">1 hours ago</time>
										
										<p class="mb-0 text-white">{{item.content}}</p>
									</div>
									<div class="col-md-2 col-sm-2 col-3 text-center user-img">
											<img id="profile-photo" :src="item.avatar" class="rounded-circle" />
									</div>
							</div>
						</li>
					
				</ul>
				
			</div>
				<div class="row comment-box-main p-3 rounded-bottom">
					<!-- <form > -->
			  		<div class="col-md-9 col-sm-9 col-9 pr-0 comment-box">
						  <form id="cpa-form" name="f">
					  <input name="ta" type="text" id="txt-message" v-on:keyup.enter="onEnter" @change="changeAge($event)" v-model="text" class="form-control" placeholder="Type your question ...." />
					  </form>
			  		</div>
			  		<div class="col-md-3 col-sm-2 col-2 pl-0 text-center send-btn">
						<button id="start-record-btn" class="btn bg-transparent ml-1 pl-2 py-1"><i class="material-icons text-white" v-show="!recording" @click="isRecording()">settings_voice</i><i class="material-icons" v-show="recording" @click="isRecording()">record_voice_over</i></button>
<!-- </form> -->
			  		</div>
				</div>
			</div>
		</div>
	</div>
  </body>
 
   <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.js'></script>

  <script src='https://code.responsivevoice.org/responsivevoice.js'></script>

  <script>
		
		var app = new Vue({
		  el: '#apprun',
		  data: {
			  text:'',
			  recording: false,
			  message: 'Hello Vue!',
			  messages: [
				  {
					  	id: 1,
						name:'User',
						avatar:'http://nicesnippets.com/demo/man01.png',
						content: '111 Thank you for visiting all the way from New York.',
						answer:[
							{
							id: 2,
							name:'Max',
							avatar:'http://nicesnippets.com/demo/man02.png',
							content: 'Thank you for visiting all the way from NYC.',
							},							
						]
					}, 
					{
						id: 2,
						name:'User',
						avatar:'http://nicesnippets.com/demo/man01.png',
						content: '22  Thank you for visiting all the way from New York.',
						answer:{}
					}
			  ]
		  },
		  mounted() {
			//window.setTimeout(this.onEnter, 1050);
		  },
		  created(){
			///window.setTimeout(this.onEnter, 1050);
		  },
		  methods:{
			  show(){
				  console.log('hello'+ this.recording);
			  }, 
			  toogleCall(){
				  this.recording = !this.recording;
			  }, 
			  isRecording(){
				  toogleCall();
			  },
			  onEnter: function(e) {
				  if(this.text !=''){
					this.messages.push(
						{
							id: 3,
							name:'User',
							avatar:'http://nicesnippets.com/demo/man01.png',
							content: this.text,
							answer:{}
						}
					);
					this.text ='';
				  }
				
				//this.getResponse(this.text);
				
			},
			changeAge:function(event){
				// await this.delay(40)
				
				//window.setTimeout(this.onEnter(), 1050);
			},
			getResponse(question){
				return
				axios.get("response.json").then((res)=>{
					alert(res.data.submittimesheet);
					console.log(res.data);
				});
			}
		  },
		   watch: {
			text: function(val, oldVal) {
            // for (var i = 0; i < this.cases.length; i++) {
            //     if (this.cases[i].status == val) {
            //         this.activeCases.push(this.cases[i]);
            //         alert("Fired! " + val);
            //     }
			// }
			var at_now = this
			window.setTimeout(function(){
				console.log('check action save')
				//at_now.onEnter()
			}, 40000)
			//window.setTimeout(this.onEnter(), 50005000);
        }
    }
		  })
	</script>

	<script>
		function _show_text(){
		  window.setTimeout(_show_text, 1050);
		}
  
		$("#cpa-form").submit(function(e){
    return false;
});
	</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.js'></script>
  <script src='main.js'></script>

  

</html>