<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
<div class="chat-popup" id="myForm">
    <!-- <div id="yourFrameId"></div> -->
    <iframe id="abc_frame"></iframe>
        <!-- <form action="/action_page.php" class="form-container">
          <h1>Chat</h1>
      
          <label for="msg"><b>Message</b></label>
          <textarea placeholder="Type message.." name="msg" required></textarea>
      
          <button type="submit" class="btn">Send</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form> -->
      </div>

    <button class="open-button" id="open-show" onclick="openForm()">Chat</button>
    <button class="open-button-close" id="open-hide" onclick="closeForm()">Close</button>
    <!-- <button type="button" class="btn cancel" onclick="closeForm()">Close</button> -->
        <style>
            .open-button {
                background-color: #555;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                opacity: 0.8;
                position: fixed;
                bottom: 10px;
                right: 28px;
                width: 280px;z-index: 233342;
            }
            .open-button-close {
                display: none;
                background-color: #555;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                opacity: 0.8;
                position: fixed;
                bottom: 10px;
                right: 28px;
                width: 280px;z-index: 233342;
            }
            #abc_frame{
                height: 100%;
            }
            /* The popup chat - hidden by default */
            .chat-popup {
                display: none;
                position: fixed;
                bottom: 0;
                right: 15px;
                border: 3px solid #f1f1f1;
                z-index: 9;z-index: 123123;    bottom: 65px;     height: 350px;
            }
            /* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}
        </style>
        <script>        
        function openForm() {
            document.getElementById("myForm").style.display = "block";
            document.getElementById("open-show").style.display = "none";
            document.getElementById("open-hide").style.display = "block";
            set_frame()
            }

            function closeForm() {
            document.getElementById("myForm").style.display = "none";
            document.getElementById("open-show").style.display = "block";
            document.getElementById("open-hide").style.display = "none";
            }
            function set_frame(){
                //var dstFrame = document.getElementById('yourFrameId');
                //var dstDoc = dstFrame.contentDocument || dstFrame.contentWindow.document;
                //var dstDoc = dstFrame.contentDocument ;
                //yourHTML = 
                
                //var url = 'chatbot/index.html'
                var url = 'index.html'
                $('#abc_frame').attr('src', url)

                // testAjax(function(output){   
                //     var dstDoc = $('#yourFrameId')                 
                //     dstDoc.html(output);
                //     // dstDoc.close()
                // });

                
            }
           
        </script>