﻿@media (min-width: 768px) {
    .pn-col-sm-1, .pn-col-sm-2, .pn-col-sm-9, .pn-col-sm-12 {
        float: left;
    }
}

@media (min-width: 992px) {
    .pn-col-md-1, .pn-col-md-2, .pn-col-md-9, .pn-col-md-12 {
        float: left;
    }
}

.pn-col-md-1, .pn-col-sm-1, .pn-col-xs-1, .pn-col-md-2, .pn-col-sm-2, .pn-col-xs-2, .pn-col-md-9, .pn-col-sm-9, .pn-col-xs-9, .pn-col-md-12, .pn-col-sm-12, .pn-col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
}

.pn-col-md-1, .pn-col-sm-1, .pn-col-xs-1 {
    padding-left: 17px;
    float: left;
    width: 8.33333%;
    padding-top: 12px !important;
}

.pn-col-md-2, .pn-col-sm-2, .pn-col-xs-2 {
    padding-top: 4px;
    padding-left: 7px;
    padding-right: 7px;
    width: 16.66667%;
}

.pn-col-md-9, .pn-col-sm-9, .pn-col-xs-9 {
    padding-left: 10px;
    padding-right: unset;
    margin-left: unset;
    margin-right: -5.5%;
    width: 75%;
}

.pn-col-md-12, .pn-col-sm-12, .pn-col-xs-12 {
    padding-left: unset;
    padding-right: unset;
    width: 100%;
}

.pn-whiteground {
    background-color: white;
}

/* new code for the notification button*/
.pn-menu {
    margin: unset;
    padding: 0;
    height: 100%;
    display: none
}

.pn-area {
    height: 400px !important;
    width: 450px !important;
}

.pn-title {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    height: 8%;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 0;
}

.pn-message {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f3f3f3;
    padding-top: 0;
    padding-left: 0;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    background-position: center center;
    width: 448px;
    height: 92%;
    color: #646e68;
}

.pn-text-message {
    padding: 17px 5px;
    text-align: center;
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 500;
    background-color: white;
    color: black;
    height: 55px;
    border: 0.5px solid #dddfe2;
}

.pn-text-title {
    padding-left: 12px;
    font-size: 12px;
    opacity: 1;
    height: 28px;
    padding-top: 8px;
    padding-bottom: 2px;
    border-top: 0.5px solid #dddfe2;
}

.pn-list {
    display: table;
    width: 448px;
    padding-top: 0;
    padding-left: 0;
    list-style-type: none;
    background-color: #ffffff;
}

    .pn-list a {
        color: black;
    }

.pn-row-item {
    display: table;
    height: 55px;
    width: inherit;
    font-family: 'Segoe UI';
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    border: 0.5px solid #dddfe2;
    border-style: solid hidden hidden solid;
}

.pn-circle-icon {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: #eceef0;
    font-family: Segoe UI;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none solid #ffffff;
    text-align: center;
}

.pn-text {
    margin-top: 8px;
    padding-top: 5px;
}

.pn-time {
    font-size: 12px;
    color: #90949c;
}

ul.nav > li .pn-fa:first-of-type {
    padding: 1px 1.5px 1px 1.5px
}

.pn-fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.pn-icon {
    border-radius: 50%;
    border-top-width: 1px;
    margin-top: 2px;
    margin-right: 5px;
    padding: 0;
    width: 32px;
    height: 32px;
    border: none;
}

.pn-text-icon {
    margin-bottom: 3px;
    margin-top: 3px;
}

/*Style for the button with notification*/
.pn-circle-btn {
    background-color: #db4437;
    font-family: Segoe UI;
    font-size: 14px;
    color: #ffffff;
    border: none;
    font-weight: 500;
}

    .pn-circle-btn:focus {
        outline: none;
    }

.pn-eye {
    width: 40px;
    height: 32px;
    padding-left: 5px;
    margin-left: 17px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.pn-unread-btn {
    margin-left: 10px;
    padding: 0;
    display: none;
    border-radius: 50%;
    background-color: #c1e7fd;
    border-color: #b0b2b4;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    width: 7px;
    height: 7px;
}

.pn-read-btn {
    display: none;
    margin-left: 10px;
    padding: 0;
    border-radius: 50%;
    border-color: #f3f3f3;
    border-top-width: 3.5px;
    border-right-width: 3.5px;
    border-bottom-width: 3.5px;
    border-left-width: 3.5px;
    width: 4px;
    height: 4px;
}

.pn-eye:hover .pn-unread-btn, .pn-eye:hover .pn-read-btn {
    display: block;
}

.pn-click-through {
    pointer-events: none;
}

.pn-loading {
    position: relative;
    z-index: 999;
    height: 10px;
    width: 10px;
    overflow: show;
    margin: auto;
}

    .pn-loading:before {
        content: '';
        display: inline-block;
        position: relative;
        background-color: rgba(0,0,0,0.5);
    }

.pn-pop {
    max-width: 200px;
    max-height: 120px;
    display: block;
    bottom: 35px;
    left: 35px;
    top: unset;
}

    .pn-pop .modal-dialog {
        max-width: inherit;
        max-height: inherit;
    }
